<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="Speech:Key" value="02241469cbc1456a8c9ed339942c2c3e"/>
    <add key="Speech:Location" value="southeastasia"/>
  </appSettings>
</configuration>